---
layout: default
---

<nav>
    <a href="#a">A</a>
    <a href="#b">B</a>
    <a href="#c">C</a>
    <a href="#d">D</a>
    <a href="#e">E</a>
    <a href="#f">F</a>
    <a href="#g">G</a>
    <a href="#h">H</a>
    <a href="#i">I</a>
    <a href="#j">J</a>
    <a href="#k">K</a>
    <a href="#l">L</a>
    <a href="#m">M</a>
    <a href="#n">N</a>
    <a href="#o">O</a>
    <a href="#p">P</a>
    <a href="#q">Q</a>
    <a href="#r">R</a>
    <a href="#s">S</a>
    <a href="#t">T</a>
    <a href="#u">U</a>
    <a href="#v">V</a>
    <a href="#w">W</a>
    <a href="#x">X</a>
    <a href="#y">Y</a>
    <a href="#z">Z</a>
</nav>

<section>
    <h1 class="section-title" id="a">A<a href="#top">Back to Top</a></h1>
    {% for term in site.a %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="b">B<a href="#top">Back to Top</a></h1>
    {% for term in site.b %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<aside>
    <p>Want to learn more about email marketing, design, and development? <strong>Level up your skills with expert guides from The Better Email</strong>.</p> 
    <a href="https://thebetter.email" class="button">Start Learning Today &rarr;</a>
</aside>

<section>
    <h1 class="section-title" id="c">C<a href="#top">Back to Top</a></h1>
    {% for term in site.c %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="d">D<a href="#top">Back to Top</a></h1>
    {% for term in site.d %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="e">E<a href="#top">Back to Top</a></h1>
    {% for term in site.e %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="f">F<a href="#top">Back to Top</a></h1>
    {% for term in site.f %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="g">G<a href="#top">Back to Top</a></h1>
    {% for term in site.g %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="h">H<a href="#top">Back to Top</a></h1>
    {% for term in site.h %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="i">I<a href="#top">Back to Top</a></h1>
    {% for term in site.i %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="j">J<a href="#top">Back to Top</a></h1>
    {% for term in site.j %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="k">K<a href="#top">Back to Top</a></h1>
    {% for term in site.k %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="l">L<a href="#top">Back to Top</a></h1>
    {% for term in site.l %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="m">M<a href="#top">Back to Top</a></h1>
    {% for term in site.m %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<aside>
    <p>Struggling to grow your skills and career in email marketing? <strong>The Better Email can help with that</strong>.</p> 
    <a href="https://thebetter.email" class="button">Find Out How &rarr;</a>
</aside>

<section>
    <h1 class="section-title" id="n">N<a href="#top">Back to Top</a></h1>
    {% for term in site.n %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="o">O<a href="#top">Back to Top</a></h1>
    {% for term in site.o %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="p">P<a href="#top">Back to Top</a></h1>
    {% for term in site.p %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="q">Q<a href="#top">Back to Top</a></h1>
    {% for term in site.q %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="r">R<a href="#top">Back to Top</a></h1>
    {% for term in site.r %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="s">S<a href="#top">Back to Top</a></h1>
    {% for term in site.s %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="t">T<a href="#top">Back to Top</a></h1>
    {% for term in site.t %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="u">U<a href="#top">Back to Top</a></h1>
    {% for term in site.u %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="v">V<a href="#top">Back to Top</a></h1>
    {% for term in site.v %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="w">W<a href="#top">Back to Top</a></h1>
    {% for term in site.w %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="x">X<a href="#top">Back to Top</a></h1>
    {% for term in site.x %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<aside>
    <p>OK, last ad, I promise... <strong>Grow your email marketing skills with The Better Email</strong>.</p> 
    <a href="https://thebetter.email" class="button">You've Convinced Me &rarr;</a>
</aside>

<section>
    <h1 class="section-title" id="y">Y<a href="#top">Back to Top</a></h1>
    {% for term in site.y %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>

<section>
    <h1 class="section-title" id="z">Z<a href="#top">Back to Top</a></h1>
    {% for term in site.z %}
    <h2 class="term-title">{{ term.term }}</h2><a href="{{ term.url }}" class="more-info">More Info &rarr;</a>
    <p>{{ term.definition }}</p>
    {% endfor %}
</section>