<footer class="site-footer">
    <div class="container">
        <img src="../assets/logo.svg" alt="" width="60">
        <p><strong>The Email Marketing Glossary</strong> is your guide to all the acronyms and terms in the email world you always wanted. A project from <a href="https://rodriguezcommaj.com">Jason Rodriguez</a>, <a href="https://thebetter.email">The Better Email</a>, and a bunch of email friends.</p>
        <small>&copy; 2017 - 2022 Jason Rodriguez. All rights reserved.</small>
    </div>
</footer>