<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ site.url }}" />
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="All those email marketing acronyms and more.">
<meta property="og:site_name" content="The Email Marketing Glossary">
<meta property="og:url" content="https://emailmarketingglossary.com">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="https://emailmarketingglossary.com/assets/og-image.jpg">
<link rel="alternate" type="application/rss+xml" title="Email Marketing Glossary RSS" href="/feed.xml">
<link rel="shortcut icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/css/styles.css">
<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>