<header class="site-header">
    <div class="container">
        <a href="/"><img src="../assets/logo.svg" alt="" width="60"></a>
        <a href="/" class="site-title">{{ site.title }}</a>
        <p>Your guide to all the acronyms and terms in the email world you always wanted. A project from <a href="https://rodriguezcommaj.com">Jason Rodriguez</a>, <a href="https://thebetter.email">The Better Email</a>, and a bunch of email friends. <a href="https://github.com/rodriguezcommaj/email-marketing-glossary">Contribute on GitHub</a>.</p>
    </div>
</header>